* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  font-family: sans-serif;
}
header {
  background-color: #2a7;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1rem;
}
.menu a {
  color: white;
  text-decoration: nome;
  font-weight: bold;
}
.conteudo {
  padding: 1rem;
}

.vitrine {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.produto {
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    text-align: center;
    
    gap: 0.5rem;
    position: relative;
}
.Bedge{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    background-color: red;
    color: white;
    padding: 0.1rem 0.25rem;
    font-size: 0.75rem;

}

.Bedge + h2{
    margin-top: 0.5rem;
}
/* Para tablet */
@media (min-width: 480px) {
  .vitrine {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Para pc */
@media (min-width: 768px) {
  .vitrine {
    grid-template-columns: repeat(3, 1fr);
  }
}
